**/__pycache__/
.ipynb_checkpoints
MUJOCO_LOG.TXT
uitb.egg-info/
uitb/utils/__simulatorsdir__.py
wandb/

_simulators/

simulators/mobl_arms_index_choice_reaction
simulators/mobl_arms_index_pointing
simulators/mobl_arms_index_remote_driving
simulators/mobl_arms_index_tracking
wandb/

simulators/mobl_arms_index_pointing_timereward
simulators/mobl_arms_index_pointing_whitenoise
simulators/mobl_arms_llc

tutorial/

UIST22/study/
