**/__pycache__/
.ipynb_checkpoints
MUJOCO_LOG.TXT
uitb.egg-info/
uitb/utils/__simulatorsdir__.py
wandb/

#uitb/tasks/unity/apps/build_*/
uitb/tasks/unity/apps/*/app_logs/

simulators/
#simulators/mobl_arms_index_choice_reaction
#simulators/mobl_arms_index_pointing
#simulators/mobl_arms_index_remote_driving
#simulators/mobl_arms_index_tracking
datasets/
trained/

_builds/
simulators_OLD/
nohup_*
uitb/tasks/unity/build_v2/
uitb/tasks/unity/build_v2_COPY/
